<div class="row">
	<div class="large-12 columns">
		<% if !@articles.empty? %>
			<div>
				<%= link_to "Create an article", new_admin_article_path, class:"small button" %>
			</div>
			
			<div>
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th width="150">Title</th>
							<th width="200">Description</th>
							<th>Published</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<%= render @articles %>
					</tbody>
				</table>
			</div>
			
		<% else %>
			No articles found. Create <%= link_to "one", new_admin_article_path %>.
		<% end %>
	</div>
</div>