/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

 div.container {
 	padding:10px;
 }

 .center {
 	text-align: center;
 }

 .custom-alert {
	color: red;
	padding: 5px;
	letter-spacing: 2px;
 }

 .notice {
	color: green;
	padding: 5px;
	letter-spacing: 2px;
 }

 .top5 { margin-top: 5px; }
 .top10 { margin-top: 10px; }
 .top15 { margin-top: 15px; }
 .top20 { margin-top: 20px; }

 .left5 { margin-left: 5px; }
 .left10 { margin-left: 10px; }
 .left15 { margin-left: 15px; }
 .left20 { margin-left: 20px; }

 .clearfix { clear: both;}